# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore specific files
Traffic.mp4
Traffic.png

# Ignore specific files
Traffic.mp4
Traffic.png

# Optionally ignore all .mp4 and .png files
*.mp4
*.png
